:root {
  --card-border: var(--border-color);
}

inline-stack-switcher {
  box-shadow: inset 0 0 0 1px var(--border-color);
}

inline-stack-switcher button:checked {
  box-shadow: inset 0 0 0 1px var(--border-color),
              0 1px 3px 1px rgb(0 0 0 / 7%),
              0 2px 6px 2px rgb(0 0 0 / 3%);
}
